<main class="capacities__not_found">

  <div class="row mt-4">
    <div class="col-12">
      <h1>404: Not Found</h1>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <div class="alert alert-danger" role="alert">
        Der Empfänger <%= params[:recipient] %> konnte nicht gefunden werden. Bitte vergewissern Sie sich, dass die
        E-Mail Adresse richtig geschrieben wurde und der Empfänger Pay2Mail
        nutzt.
      </div>
    </div>
  </div>

</main>