<%= form_with url: "/send/navigate", method: :get do |form| %>
  <div class="row mt-4">
    <div class="col-6">
      <label for="recipientEmail" class="form-label">E-Mail Adresse des Empfängers</label>
      <%= form.email_field :recipient, class: "form-control", value: @recipient_address %>
      <div id="recipientEmailHelp" class="form-text">Bitte geben Sie die E-Mail Adresse des potenziellen Empfängers
        an.
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-6">
      <%= form.submit "Aufkommen einsehen", class: "btn btn-dark" %>
    </div>
    <div class="col-6">
      <%= form.submit "E-Mail priorisieren", class: "btn btn-dark" %>
    </div>
  </div>

<% end %>
