<div class="row mt-4">
  <div class="col-12">
    <h1>Pay2Mail: An wen wollen Sie eine E-Mail versenden?</h1>
  </div>
</div>

<%= form_with url: "/send/navigate", method: :get do |form| %>
  <div class="row mt-4">
    <div class="col-sm-6">
      <label for="recipientEmail" class="form-label">E-Mail Adresse des Empfängers</label>
      <%= form.email_field :recipient, class: "form-control", value: @recipient_address, required: true %>
      <div id="recipientEmailHelp" class="form-text">Bitte geben Sie die E-Mail Adresse des potenziellen Empfängers
        an.
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-6">
      <%= form.submit "Aufkommen einsehen", class: "btn btn-primary" %>
    </div>
    <div class="col-sm-6">
      <%= form.submit "E-Mail priorisieren", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
