.overview {
  .overview__information {
    text-align: center;
  }

  .overview__icon {
    display: flex;
    justify-content: center;

    i {
      background-color: $primary;
      display: inline-block;
      border: 2px solid black;
      border-radius: 8px;
      font-size: 2rem;
      color: white;
    }
  }
}