<div class="row mt-4">
  <div class="col-12">
    <h1>Einstellungen</h1>
  </div>
</div>

<div class="row mt-3 input-group">
  <%= form_with model: @recipient, url: { :action => "update", :controller => "receive/recipients" }, method: :patch do |form| %>
    <div class="mb-3 col-sm-6">
      <%= form.label :editing_performance_per_day, 'Bearbeitungsleistung' %>
      <%= form.number_field :editing_performance_per_day, class: "form-control", required: true %>
      <div class="form-text">Die Bearbeitungsleistung beschreibt die Anzahl an E-Mails, die Sie pro Tag
        <strong>garantiert</strong> bearbeiten können.
      </div>
    </div>
    <div class="actions"><%= form.submit 'Einstellungen übernehmen' %></div>
  <% end %>
</div>